.form{
    margin-left: 200px;
}
.form-control {
    margin-left: 200px;
    font-size: 15px;
    width: 70%;
}
.btn{
    margin-left: 200px;
    border: 2px solid dodgerblue;
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}
.table{
    margin-left: 200px;
    width: 70%;
    font-display: center;
}
.judul{
    margin-left: 200px;
    font-size: 35px;
    font-family: calibri;
    padding-top: 38px;
}